body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f9fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 800px; /* Aumentar el ancho máximo */
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333333;
  }
  
  input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  input[type="text"]::placeholder {
    color: #aaaaaa;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }
  
  button {
    width: calc(100% - 20px);
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  pre {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 5px;
    margin-top: 20px;
    max-height: 600px; /* Aumentar la altura máxima */
    overflow-y: auto;
    border: 1px solid #dddddd;
    font-size: 16px; /* Aumentar el tamaño de la fuente */
  }
  
  #error {
    color: red;
    font-weight: bold;
  }
  